body {
    overflow-x: hidden !important;
}

.navbar {
    background-color: #141515 !important;
}

#heart_image {
            
    display:block;
    -webkit-animation: heartbeat 1s infinite;
}
@-webkit-keyframes heartbeat {

    92% { transform: scale(1, 1);}
    94% {  transform: scale(1.2, 1.2); }
    96% {  transform: scale(1, 1); }
    98% {  transform: scale(1.1, 1.1); }
    100% { transform: scale(1, 1);}
}

.display {
	margin-left: 20px;
}

#list_news li {
    list-style: none;
    margin-bottom: 15px;
}

button { 
  width: 100px; 
} 