.page-footer, .navbar {
    background-color: #141515 !important;
}

.body {
    background: #f1f1f1;    
}

.container-fluid {
    overflow: hidden !important;
}

.miband2-header {
    color: #4acbae;    
}

.heartrate-feature-miband2-bg, .app-feature-miband2-bg {
    background-color: #141515;
    color: #f6f6f6;
    margin-top: -5rem;
    margin-left: 0;
    margin-right: 0;    
}

.desc-heartrate-feature-miband2 {
    margin-top: 10rem;    
}

.step-feature-miband2-header {
    margin-top: 7.5rem;
}

.heartrate-feature-img-miband2 {
    margin-top: 6rem;
}

@media only screen and (max-width: 900px) {
    .card-responsive {
        display: none;        
    }    
}

@media only screen and (max-width: 750px) {
    body {
        font-size: 12px;
    }
    h2 {
        font-size: 1rem !important;
    }    

    .step-feature-miband2-header {
        margin-top: 0rem;
    }   

    .introduction-miband2 {
        margin: 2rem auto 6rem !important;
        padding: 0 !important;        
    }

    .row {
        justify-content: center !important;
    }

    .img-miband2 {
        width: 13rem;
        height: 13rem;
        margin-top: 1rem;
    }
    

    .desc-heartrate-feature-miband2 {
        margin-top: 0rem;
    }    

    .introduction-img-miband2 {
        margin-bottom: -10rem;
    }

    #myChart {
        width: 300px;
        height: 300px;
    }

    .card {
        width: 28rem !important;
    }
    .card-body {
        padding: 2px !important;
    }
}