<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fitness tracker home page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>            

    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">FitnessTracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/ble">Kết nối thiết bị</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/news">Báo mới</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/fag">Hướng dẫn sử dụng</a>
                </li>
            </ul>

            <ul class="navbar-nav pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signup">Đăng ký</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signin">Đăng nhập</a>
                </li>                
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0 m-0">
        <div class="introduction-miband2 row mt-5 px-5">
            <div class="col-6 desc-miband2">
                <h2 class="desc-miband2-header miband2-header">MI Band 2</h2>
                <p class="desc-miband2-text">Với cảm biến nhịp tim và chuyển động được tích hợp sẵn, Mi Band 2 biết chính xác khi nào bạn bắt đầu vận động.
                        Bạn không phải chuyển đổi chế độ hoặc phải thiết lập ban đầu. Sử dụng dữ liệu đo nhịp tim để điều chỉnh thời gian và cường độ luyện tập.
                        Hãy kiên trì luyện tập để đạt được mục tiêu của mình!</p>
            </div>
            <img class="col-6 img-responsive img-miband2" src="../assets/images/miband2.png" alt="miband2">
        </div>        

        <div class="heartrate-feature-miband2-bg">
            <div class="heartrate-feature-miband2 row p-5">
                <img class="col-6 img-responsive img-miband2 heartrate-feature-img-miband2" src="../assets/images/miband2-heartrate.png" alt="miband2">
                <div class="col-6 desc-heartrate-feature-miband2">
                    <h2 class="miband2-header heartrate-feature-miband2-header">Không chỉ là thống kê số bước</h2>
                    <p class="heartrate-feature-miband2-text">Mi Band 2 sử dụng màn hình OLED vì thế bạn có nhìn thấy được nhiều thông tin hơn. Chỉ cần nâng cổ tay lên* để xem thời gian và chạm nút bấm để xem số bước và nhịp tim.</p>
                </div>                
            </div>                          
        </div>

        <div class="step-feature-miband2-bg mt-5">
            <div class="step-feature-miband2 row pl-5">                
                <div class="col-6 desc-step-feature-miband2">
                    <h2 class="miband2-header step-feature-miband2-header">Thuật toán tính số bước hoàn toàn mới và chính xác</h2>
                    <p class="step-feature-miband2-text">Thuật toán đo bước đi đã được cải tiến trên Mi Band 2 loại bỏ các chuyển động không cần thiết. Phương pháp này thống kê số bước và vận động chính xác hơn.</p>
                </div>                
                <img class="col-6 img-responsive img-miband2 step-feature-img-miband2" src="../assets/images/miband2-step.png" alt="miband2">
            </div>    
        </div>

        <div class="app-feature-miband2-bg mt-2 p-5 d-flex flex-column justify-content-center align-items-center">
            <div class="desc-app-feature-miband2 text-center">
                <h2 class="miband2-header app-feature-miband2-header">Fitness Tracker</h2>
                <p class="app-feature-miband2-text">Sử dụng các dữ liệu của MI Band 2 giúp bạn có thể dễ dàng quản lý thông tin mọi lúc, mọi nơi thông qua website mà chúng tôi cung cấp.</p>
                <p class="app-feature-miband2-text">Ngoài ra, chúng tôi còn cung cấp cho bạn các thông tin hữu ích khác về các vấn đề liên quan tới sức khỏe.</p>
            </div>      
            <a href="/fag" class="app-feature-miband2-btn btn btn-primary">Hướng dẫn sử dụng</a>                  
        </div>

        <div class="chart-wrapper w-75 mx-auto mt-5">
            <canvas id="myChart" height="200" width="500"></canvas>
        </div>

        <div class="app-feature-miband2-bg mt-5 p-5 d-flex flex-column justify-content-center align-items-center">
            <div class="desc-app-feature-miband2 text-center">
                <h2 class="miband2-header app-feature-miband2-header">Kiến thức về sức khỏe</h2>
                <p class="app-feature-miband2-text">Các bài báo liên quan đến vấn đề về sức khỏe được liên tục cập nhật mỗi ngày.</p>                
            </div>
            <a href="/news" class="app-feature-miband2-btn btn btn-primary">Đọc báo</a>
        </div>

        <div class="d-flex flex-row justify-content-center mt-5 px-5">

            <div class="card mr-5" style="width: 18rem;">
                <img class="card-img-top" src="https://photo-2-baomoi.zadn.vn/w300_r3x2/2019_10_05_304_32443309/702f10d4a5944cca1585.jpg" alt="Mẹo trị nghẹt mũi cho trẻ sơ sinh">
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="card-text text-center">Mẹo trị nghẹt mũi cho trẻ sơ sinh</p>
                    <a target="_blank" href="https://baomoi.com/meo-tri-nghet-mui-cho-tre-so-sinh/r/32443309.epi" class="btn btn-primary">Đọc báo</a>
                </div>
            </div>

            <div class="card mr-5" style="width: 18rem;">
                <img class="card-img-top" src="https://photo-2-baomoi.zadn.vn/w300_r3x2/2019_10_05_251_32441980/c07ddd6f692f8071d93e.jpg" alt="7 thói quen tàn phá não khủng khiếp, nhiều người vẫn làm hàng ngày">
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="card-text text-center">7 thói quen tàn phá não khủng khiếp, nhiều người vẫn làm hàng ngày</p>
                    <a target="_blank" href="https://baomoi.com/7-thoi-quen-tan-pha-nao-khung-khiep-nhieu-nguoi-van-lam-hang-ngay/r/32441980.epi" class="btn btn-primary">Đọc báo</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://photo-3-baomoi.zadn.vn/w200_r3x2_sm/2019_10_05_287_32443586/166b129ea7de4e8017cf.jpg" alt="Hãy tận dụng dinh dưỡng từ su hào">
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="card-text text-center">Hãy tận dụng dinh dưỡng từ su hào</p>
                    <a target="_blank" href="https://baomoi.com/hay-tan-dung-dinh-duong-tu-su-hao/r/32443586.epi" class="btn btn-primary">Đọc báo</a>
                </div>
            </div>

        </div>

        <div class="d-flex flex-row justify-content-center mt-5 px-5">
            <div class="card mr-5" style="width: 18rem;">
                <img class="card-img-top" src="https://photo-2-baomoi.zadn.vn/w300_r3x2/2019_10_05_240_32441605/2314e30c574cbe12e75d.jpg" alt="Ô nhiễm không khí: Từ tàn phá làn da tới biến chứng tử vong rất gần">
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="card-text text-center">Ô nhiễm không khí: Từ tàn phá làn da tới biến chứng tử vong rất gần</p>
                    <a target="_blank" href="https://baomoi.com/o-nhiem-khong-khi-tu-tan-pha-lan-da-toi-bien-chung-tu-vong-rat-gan/r/32441605.epi" class="btn btn-primary">Đọc báo</a>
                </div>
            </div>
    
            <div class="card mr-5" style="width: 18rem;">
                <img class="card-img-top" src="https://photo-1-baomoi.zadn.vn/w300_r3x2/2019_10_05_106_32440965/c61ec61f725f9b01c24e.jpg" alt="9 thói quen cần bỏ để giảm mỡ bụng gây hại đến sức khỏe">
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="card-text text-center">9 thói quen cần bỏ để giảm mỡ bụng gây hại đến sức khỏe</p>
                    <a target="_blank" href="https://baomoi.com/9-thoi-quen-can-bo-de-giam-mo-bung-gay-hai-den-suc-khoe/r/32440965.epi" class="btn btn-primary">Đọc báo</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://photo-1-baomoi.zadn.vn/w200_r3x2_sm/2019_10_05_23_32443530/b7d9772ec26e2b30727f.jpg" alt="7 hành động gây tổn thương nặng cho cơ thể, người Việt đang làm mỗi ngày">
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="card-text text-center">7 thói quen tàn phá não khủng khiếp, nhiều người vẫn làm hàng ngày</p>
                    <a target="_blank" href="https://baomoi.com/7-hanh-dong-gay-ton-thuong-nang-cho-co-the-nguoi-viet-dang-lam-moi-ngay/r/32443530.epi" class="btn btn-primary">Đọc báo</a>
                </div>
            </div>
        </div>
        
    </div>

    <footer class="page-footer font-small mdb-color pt-4 mt-5 bg-dark">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left mt-3 pb-3">
                <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Fitness Tracker</h6>
                    <p>Ứng dụng thông minh kiểm tra sức khỏe người dùng thông qua đồng hồ sức khỏe MI Band2.</p>
                </div>

                <hr class="w-100 clearfix d-md-none">

                <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        <i class="fas fa-user mr-3"></i>Nguyễn Minh Toàn</h6>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>toanb1605369@student.ctu.edu.vn
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>+ 84 967 802 598
                    </p>                    
                </div>

                <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        <i class="fas fa-user mr-3"></i>Võ Văn Kiệt</h6>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>kietb1605335@student.ctu.edu.vn
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>+ 84 967 802 598
                    </p>                    
                </div>
            </div>

            <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p class="text-center text-md-left">Được tạo bởi:
                        <strong>Toàn & Kiệt</strong> với tất cả <i style="color: lightcoral" class="fas fa-heart"></i>
                    </p>
                </div>

                <div class="col-md-5 col-lg-4 ml-lg-0">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>      
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script src="https://unpkg.com/scrollreveal"></script>        

    <script src="../assets/js/index/ScrollReveal.js"></script>
    <script src="../assets/js/index/Chart.js"></script>
</body>
</html>