<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>            
    <link rel="stylesheet" href="../assets/css/news.css">
    <title>News health posts</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="/">FitnessTracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/ble">Kết nối thiết bị</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/news">Báo mới</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/fag">Hướng dẫn sử dụng</a>
                </li>
            </ul>

            <ul class="navbar-nav pull-right unauthenticated">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#signup-form-container">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#signin-form-container">Đăng nhập</a>
                </li>
            </ul>

            <ul class="navbar-nav pull-right authenticated" style="display: none">
                <li class="nav-item">
                    <a class="nav-link signined-user" data-toggle="modal"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link logout" href="/auth/logout" data-toggle="modal">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="signup-form-container" tabindex="-1" role="dialog">        
        <div class="modal-dialog" role="document">            
            <div class="modal-content">
                <div class="modal-header">                    

                    <h5 class="modal-title">Đăng ký tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="signup-form">
                        <div class="form-group">
                            <label for="signup-email">Địa chỉ email</label>
                            <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp" placeholder="Nhập vào địa chỉ email">
                        </div>

                        <div class="form-group">
                            <label for="signup-password">Mật khẩu</label>
                            <input type="password" class="form-control" id="signup-password" placeholder="Nhập vào mật khẩu">
                        </div>

                        <div class="form-group">
                            <label for="signup-name">Họ và tên</label>
                            <input type="text" class="form-control" id="signup-name" placeholder="Nhập vào tên của bạn">
                        </div>

                        <div class="form-group">
                            <label for="signup-phone">Số điện thoại</label>
                            <input type="text" class="form-control" id="signup-phone" placeholder="Nhập vào số điện thoại của bạn">
                        </div>

                        <div class="form-group">
                            <label for="signup-age">Tuổi</label>
                            <input type="number" class="form-control" id="signup-age" placeholder="Nhập vào tuổi của bạn">
                        </div>

                        <div class="form-group">
                            <label>Giới tính</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input signup-gender" type="radio" name="gender" value="Nam">
                                <label class="form-check-label" for="inlineRadio1">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input signup-gender" type="radio" name="gender"  value="Nữ">
                                <label class="form-check-label" for="inlineRadio2">Nữ</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input signup-gender" type="radio" name="gender" value="Khác">
                                <label class="form-check-label" for="inlineRadio3">Khác</label>
                            </div>
                        </div>
                        
                        <ul class="signup-response alert" style="display: none; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">                                        
                        
                        </ul>
                    </form>
                </div>

                <div class="modal-footer">
                    <button id="signup-form-submit-button" type="button" class="btn btn-primary">Đăng ký</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="signin-form-container" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Đăng nhập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="signin-form">
                        <div class="form-group">
                            <label for="signin-email">Địa chỉ email</label>
                            <input type="email" class="form-control" id="signin-email" aria-describedby="emailHelp" placeholder="Nhập vào địa chỉ email">
                            <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không cho ai khác biết tài khoản của bạn.</small>
                        </div>
                        <div class="form-group">
                            <label for="signin-password">Mật khẩu</label>
                            <input type="password" class="form-control" id="signin-password" placeholder="Nhập vào mật khẩu">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="remember-me">
                            <label class="form-check-label" for="remember-me">Nhớ tài khoản</label>
                        </div>    

                        <ul class="signin-response alert" style="display: none; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">                                        
                        
                        </ul>                    
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" id="signin-form-submit-button" class="btn btn-primary">Đăng nhập</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br>
        <div class ="news-response">    
        </div>
        
        <div class="row">
            <ul id="list_news">
                
            </ul>        
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   

    <script src="../assets/js/news/News.js"></script>
    <script src="../assets/js/utils/ActiveCurrentTabInNavbar.js"></script>
    <script src="../assets/js/getNews.js"></script> 
</body>
</html>